/* HEXADECIMAL COLOR PALLETE
Morado oscuro:   #330033   exclusivo para el header.
Morado oscuro 2: #571845   para ventanas modales y otros elementos de la página.
Magenta:         #990033   para todos los formularios.
Rojo:            #CC0033   para todos los textos h1
Naranja:         #FF6633   para todos los  textos h2
Amarillo:        #FFCC33   para botones principales, estrellas de ranking y otros elementos de la página.
*/

body,p,h1,h2,h3,h4,h5,h6,ul,ol
{
			margin:0;
			padding:0;
			font-family: Helvetica, sans-serif;
}

/*     -------------  header  -------------    */

#main_nav{
			background-color: #330033;
			height: 50px;
			list-style-type: none;

		}

li > #logo {
			float:left;
			font-family: Helvetica, sans-serif;
			font-size: 30px;
			font-style: bolder;
			color: white;
			padding: 10px 15px 15px 25px;
			text-decoration: none;
}

li > #salir {
			float:right;
			font-family: Helvetica, sans-serif;
			font-size: 15px;
			font-style: normal;
			color: white;
			padding: 15px 15px 0px 5px;
			padding-right: 5%;
			text-decoration: none;
}

.fa-sign-out-alt {
			color: white;
			float:right;
			padding: 15px;
			padding-right:0px;
}



/*     -------------  main Profile  -------------    */

.containerBig1{
    background-color: #990033;
    border-radius: 10px; 
    padding: 35px;
    height: 750px;
    margin-left: 50px;
    color: white;
    width: 750px;
}

.containerBig2{
    background-color: #990033;
    border-radius: 10px; 
    padding: 35px;
    height: 350px;
    margin-left: 50px;
    color: white;
    width: 750px;
}

.recordatorio{
    margin-left: 50px;
}

.containerSmall1{
    background-color: #990033;
    border-radius: 10px; 
    padding: 45px;
    height: 450px;
    margin-left: 100px;
    color: white;
    width: 450px;
}

#leftSide {
    float: left;
    width: 200px;
    padding: 5px;
    border-bottom: 5px;
    padding-right: 80px;
}

#rightSide {
    float: right;
    width: 200px;
    padding: 5px;
    border-bottom: 5px;
    padding-right: 250px;
}

#regData {
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 15px;  
}


#addrBox1 {
    float: left;
    width: 85px;
    column-gap: 2px; 
    background: chartreuse;
}

.upperBox {
    height: 100px;
    width: 200px;
    background: blue;
  }

.mainProfile {
            width: 100%;
            margin: 0 5%;
}

.mainProfileTxt {
    width: 100%;
    margin: 0 5%;
}


.closeBtn1 {
    background-color: #FFCC33;
    padding: 0% 5% 0% 5%;
    font-size: 1.6em;
    font-family: Helvetica Light, sans-serif;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    margin: 0% 25% 0% 25%;
}


.bigLabel1{
			background-color: #CC0033;
			color: white;
			text-align: justify;
}

.footerEnd{	
    
    padding: 10px;
    padding-left: 20px;
	background-color: #330033;
	color: white;
	font-weight: lighter;
	font-size: 12px;
    margin-top: 70px;
}

.input_error{
border: 2px solid #c23616;
}

#hiddenUserTable{
    display: none;
  }
