/* HEXADECIMAL COLOR PALLETE
Morado oscuro:   #330033   exclusivo para el header.
Morado oscuro 2: #571845   para ventanas modales y otros elementos de la página.
Magenta:         #990033   para todos los formularios.
Rojo:            #CC0033   para todos los textos h1
Naranja:         #FF6633   para todos los  textos h2
Amarillo:        #FFCC33   para botones principales, estrellas de ranking y otros elementos de la página.
*/

body,p,h1,h2,h3,h4,h5,h6,ul,ol
{
			margin:0;
			padding:0;
			font-family: Helvetica, sans-serif;
}

/*     -------------  header  -------------    */

/*     -------------  header  -------------    */


.navbar-dark{
    background-color: #330033;
}


.navbar-nav{
    margin-left: 6%;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

.navbarUp{
    float: right;
}

.headerlink{
color: white;
padding-left:10px; 
text-decoration: none;
}

.headerlink:hover{
color: lavender;
text-decoration: none;
}


#logo {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-style: bolder;
    color: white;
    text-decoration: none;

}

#tituleLogin{
background-color:  #CC0033 ;
padding: 5px;
color: white;
font-size: 22px;
font-family: Helvetica, sans-serif;
font-style: bolder;

}
/*Esto es para restringir accesos por tipos de usuarios    */
.hide{
display: none;
/*visibility: hidden;*/
}




/*     -------------  main Profile  -------------    */

#addrBox1 {
    float: left;
    width: 85px;
    column-gap: 2px; 
    background: chartreuse;
}


.bigLabel{
    background-color: #CC0033;
    color: white;
    width: 85%;
    margin: 5%;
    padding: 2%; 
}

.btnAgendar {
    background-color: #FFCC33;
    padding: 0% 5% 0% 5%;
    font-size: 1.6em;
    font-family: Helvetica Light, sans-serif;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    margin: 2% 25% 0% 25%;
}


.containerBig1{
    background-color: #990033;
    border-radius: 10px; 
    padding: 35px;
    height: 750px;
    margin-left: 50px;
    color: white;
    width: 750px;
}

.containerBig2{
    background-color: #990033;
    border-radius: 10px; 
    padding: 35px;
    margin-left: 50px;
    color: white;
    width: 750px;
}


.containerSmall1{
    background-color: #990033;
    border-radius: 10px; 
    padding: 45px;
    height: 450px;
    margin-left: 100px;
    color: white;
    width: 450px;
}



#hiddenUserTable{
display: none;
}

.input_error{
border: 2px solid #c23616;
}

#leftSide {
    float: left;
    width: 200px;
    padding: 5px;
    border-bottom: 5px;
    padding-right: 80px;
}

.mainProfile {
    width: 100%;
    margin: 0 5%;
}



.mainProfileTxt {
width: 100%;
margin: 0 10%;
}


#rightSide {
    float: right;
    width: 200px;
    padding: 5px;
    border-bottom: 5px;
    padding-right: 250px;
}


.recordatorio{
    margin-left: 50px;
}


#redInstructions{
    color: red;
}


#regData {
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 15px;  
}


.upperBox {
    height: 100px;
    width: 200px;
    background: blue;
  }


  /*     ------------- footer-------------    */

  .footerEnd{ 
    padding: 10px;
    padding-left: 20px;
    background-color: #330033;
    color: white;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 500px;
}


