/* HEXADECIMAL COLOR PALLETE


Morado oscuro:   #330033   exclusivo para el header.
Morado oscuro 2: #571845   para ventanas modales y otros elementos de la página.
Magenta:         #990033   para todos los formularios.
Rojo:            #CC0033   para todos los textos h1
Naranja:         #FF6633   para todos los  textos h2
Amarillo:        #FFCC33   para botones principales, estrellas de ranking y otros elementos de la página.


*/

body,p,h1,h2,h3,h4,h5,h6,ul,ol
{
			margin:0;
			padding:0;
			font-family: Helvetica, sans-serif;
}

/*     -------------  header  -------------    */


.navbar-dark{
			background-color: #330033;
}


.navbar-nav{
			margin-left: 6%;
			margin-top: 10px;
			font-size: 16px;
			text-align: center;
}

.navbarUp{
			float: right;
}

.headerlink{
	color: white;
	padding-left:10px; 
	text-decoration: none;
}

.headerlink:hover{
	color: lavender;
	text-decoration: none;
}


#logo {
			font-family: Helvetica, sans-serif;
			font-size: 30px;
			font-style: bolder;
			color: white;
			text-decoration: none;

}
/*Esto es para restringir accesos por tipos de usuarios    */
.hide{
	display: none;
	/*visibility: hidden;*/
}

/*     -------------  main Profile  -------------    */


.mainProfile {
    width: 100%;
    min-height: 800px;

}

.bigLabel{
            background-color: #CC0033;
            color: white;
            margin: 40px 0px;
            padding: 10px; 
}


.modal-header, h2 {
    background-color: #CC0033;
    color : white;
    text-align: left;
    font-size: 20px;
    width: 100%;
}

#tblUsuarios{
	max-height: 600px;
}


thead{

    min-width: 350px;
    text-align: center;
}

th{
	min-width: 250px;
}

#refHistorica, #direccion{
	min-width: 900px;
}

.imagenTabla{
    max-height: 200px;
    max-width: 200px;
}

/*     ------------- footer-------------    */

.footerEnd{ 
            padding: 10px;
            padding-left: 20px;
            background-color: #330033;
            color: white;
            font-weight: lighter;
            font-size: 12px;
            margin-top: 70px;

}

.editIcon{
	cursor: pointer;
	font-size: 65px;
	margin:30px;
	text-decoration-line: none;
	color: black;
}

.editIcon:hover { 
	color: orange !important; 
	text-decoration-line: none;
}

.removeIcon{
	cursor: pointer;
	font-size: 65px;
	margin-right:10px;
	text-decoration-line: none;
	color: black;
}

.removeIcon:hover { 
	color: red !important; 
	text-decoration-line: none;
}

.hide{
	display: none;
	visibility: hidden;
}