/* HEXADECIMAL COLOR PALLETE
Morado oscuro:   #330033   exclusivo para el header.
Morado oscuro 2: #571845   para ventanas modales y otros elementos de la página.
Magenta:         #990033   para todos los formularios.
Rojo:            #CC0033   para todos los textos h1
Naranja:         #FF6633   para todos los  textos h2
Amarillo:        #FFCC33   para botones principales, estrellas de ranking y otros elementos de la página.
*/

body,p,h1,h2,h3,h4,h5,h6,ul,ol
{
			margin:0;
			padding:0;
			font-family: Helvetica, sans-serif;
}

/*     -------------  header  -------------    */


.navbar-dark{
			background-color: #330033;
}


.navbar-nav{
			margin-left: 6%;
			margin-top: 10px;
			font-size: 16px;
			text-align: center;
}

.navbarUp{
			float: right;
}

.headerlink{
	color: white;
	padding-left:10px; 
	text-decoration: none;
}

.headerlink:hover{
	color: lavender;
	text-decoration: none;
}


#logo {
			font-family: Helvetica, sans-serif;
			font-size: 30px;
			font-style: bolder;
			color: white;
			text-decoration: none;

}

#tituleLogin{
	background-color:  #CC0033 ;
	padding: 5px;
	color: white;
	font-size: 22px;
	font-family: Helvetica, sans-serif;
	font-style: bolder;


}
/*Esto es para restringir accesos por tipos de usuarios    */
.hide{
	display: none;
	/*visibility: hidden;*/
}



/*     -------------  main Profile  -------------    */

.mainProfile {
			width: 100%;
			min-height: 800px;
}

.mainProfileTxt {
    width: 100%;
    margin: 0 5%;
}


.bigLabel{
	background-color: #CC0033;
	color: white;
	margin: 40px 0px;
	padding: 10px; 
}

.footerEnd{ 
	padding: 10px;
	padding-left: 20px;
	background-color: #330033;
	color: white;
	font-weight: lighter;
	font-size: 12px;
	margin-top: 70px;
}

.bigLabel2{
  background-color: #FF6633;
  color: white;
  text-align: justify;
  margin: 30px;
  padding: 10px;

}

.containerBig3 {
    padding-bottom: 20px;
    height: auto;
    margin: 5% 5% 5% 10%;
    border-radius: 10px;
    padding: 20px;
	width: 70%;
}


.closeBtn1 {
	background-color: #FFCC33;
	padding: 0% 5% 0% 5%;
	font-size: 1.6em;
	font-family: Helvetica Light, sans-serif;
	color: black;
	cursor: pointer;
	border-radius: 5px;
	margin: 0% 25% 0% 20%;
}


#tblCambios{
	max-height: 600px;
}

thead{
    min-width: 350px;
    text-align: center;
}

th{
	min-width: 370px;
}
