body,p,h1,h2,h3,h4,h5,h6,ul,ol
{
    margin:0;
    padding:0;
    font-family: Helvetica, sans-serif;
}

li {
    list-style-type:none; 
    font-family: Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    padding-left: 10px;
}


/* Login and search */

.imgLogo img {
    width: 100%;
}

.titleLogin p,
.titleLogin h3,
.titleLogin h5 {
    color: #fff;
    background-color: #CC0033;
    font-weight: bold;
    padding: 15px 0px;
}

.frmLogin {
    background-color: #571845;
    padding: 10px;

}

.frmLogin button.btnBlock{
    background-color: #FFCC33;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    padding: 4px 66px;
}


.frmLogin a{
    color: #fff;
}

.frmLogin hr{
    color: #fff;
    border: 1px solid #717171;
}

.frmLogin p, .frmLogin label{
    color: #fff;
}

.spaceBottom {
    margin-bottom: 30px;
}

.col-centrada {
    float: none;
    margin: 0 auto;
}

.contentInputs {
    margin-top: 40px;
    background-color: #990033;
    padding: 20px;
    border-radius: 10px;
}

.contentInputs h1{
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
}

.contentInputs button{
     background-color: #FFCC33;
     color: #000;
     font-weight: bold;
     font-size: 17px;
     padding: 4px 66px;
     margin-top: 20px;
     margin-bottom: 10px;
}

.listPdf{
    margin-top: 20px;
}


/* Ranking */

.rankingEscuelas{
    background-color: #990033;
}

.rankingColegios{
    background-color: #FF6633;
}

.rankingEscuelas table,
.rankingColegios table{
    background-color: #fff;
}

.subRaking h5{
    color: #fff;
    margin: 10px 0px;
}

.card-header{
    background-color: #fff;
}

.card-header h5{
    color: #330033;
    font-weight: bold;
}

.card {
    border-bottom: 1px solid #330033;
}


/*faqs*/
.mb-0{
    text-align: left;
}

/* footer */

footer{
     background-color: #330033;
     padding: 10px;
}

footer p{
    color: #fff;
    font-size: 14px;
}

.landingPage{
    color: white;
    font-size: 16px;
}
