/* HEXADECIMAL COLOR PALLETE


Morado oscuro:   #330033   exclusivo para el header.
Morado oscuro 2: #571845   para ventanas modales y otros elementos de la página.
Magenta:         #990033   para todos los formularios.
Rojo:            #CC0033   para todos los textos h1
Naranja:         #FF6633   para todos los  textos h2
Amarillo:        #FFCC33   para botones principales, estrellas de ranking y otros elementos de la página.


*/

body,p,h1,h2,h3,h4,h5,h6,ul,ol
{
			margin:0;
			padding:0;
			font-family: Helvetica, sans-serif;
}

/*     -------------  header  -------------    */


.navbar-dark{
			background-color: #330033;
}


.navbar-nav{
			margin-left: 6%;
			margin-top: 10px;
			font-size: 16px;
			text-align: center;
}

.navbarUp{
			float: right;
}

.headerlink{
	color: white;
	padding-left:10px; 
	text-decoration: none;
}

.headerlink:hover{
	color: lavender;
	text-decoration: none;
}


#logo {
			font-family: Helvetica, sans-serif;
			font-size: 30px;
			font-style: bolder;
			color: white;
			text-decoration: none;

}

#tituleLogin{
	background-color:  #CC0033 ;
	padding: 5px;
	color: white;
	font-size: 22px;
	font-family: Helvetica, sans-serif;
	font-style: bolder;

}
/*Esto es para restringir accesos por tipos de usuarios    */
.hide{
	display: none;
	/*visibility: hidden;*/
}

/*     -------------  body  -------------    */

.mainSideMenu{
			width: 25%;
			height: auto;
			background-color: #571845; 
			position: absolute;
}

#forgotPasw{
	text-decoration-line: underline;
}
#forgotPasw:hover, #advanceSearch:hover{
	color:  #FFCC33 ;
}


/*     -------------  Iniciar sesion Card -------------    */
#redFlagsSide{
			background-color:  #CC0033;
			color: white;
			font-weight: bold;
			font-size: 24px;
			text-align: center;
			padding: 5px 0px;
}
/*     ------------- Formulario de Iniciar sesion-------------    */
.form-group{
			margin: 15px;
}

.yellowBtn{
			background-color: #FFCC33;
			font-family: Helvetica, sans-serif;
			font-weight: bolder;
			margin: 5px 0px;
			font-size: 1.2em;
			padding: 10px 50px;
}

.yellowBtn:hover, #btnIngresar:hover, #btnRegistro:hover{
			background-color: yellow;
}


#forgotPsw{
			font-size: 12px;
			color: white;
			text-decoration-line: underline;
			float: right;
			padding: 10px;
}

#divisionLine{
			width: auto;
			height: 1px;
			font-weight: lighter;
			background-color: white;
			margin-top: 20px;
}

.registerInfo{
			font-size: 12px;
			font-weight: lighter;
			color: white;
			padding: 10px;

}

.radio{
		font-size: 12px;
		font-weight: lighter;
		color: white;
		padding-left: 25%;
		margin-top: -5px;
}


/*     ------------- Buscador de centros educativos -------------    */

.main {
    width: 50%;
    margin: 50px auto;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.mainSearch{
			background-color: #990033;
			width: 55%;
			height: auto;
			float: right;
			position: absolute;
			border-radius: 10px;
			padding: 40px;
			margin-top: 5%;
			margin-left: 35%;
} 

.mainSearch > h1{
			color: white;
			text-align: center;
			font-family: Helvetica, sans-serif;
			font-size: 2em;
}

.dropdown{
		padding-left: 15px;
		padding-right:0%;
}
#nivel{
			width: auto;
			padding: 0 10%;
			font-size: 1.2em;
			background-color: white;
			font-family: Helvetica, sans-serif;
			font-weight: bolder;
}

#advanceSearch{
	color: white;
	margin-left: 20px;
}

/*     ------------- Reportes -------------    */

.reportes{
		position: absolute;
		float: right;
		display: block;
		margin-top: 500px;
		margin-left: 40%;
		padding:10px;
}

.linkReportes{
		font-size: 1em;
		color: black;
}

.fa-file{
		font-size: 1.5em;
		color: #FF6633;
		padding:10px;

}

/*     ------------- Ranking -------------    */

.mejorescentros{
	font-family: Josefin Sans; 
	font-size: 25px;
}


.alignCenter{
	text-align: center;
}



.redFlagSchool{
			height: auto;
			background-color:  #CC0033;
			color: white;
			font-size: 2em;
			text-align: center;
			padding: 10px 0px;
			position: relative;
			margin-top:640px;
}


#top10School{
			background-color: #FF6633;
			width: 100%;
			height: 530px;
			padding: 25px;
}

h3{
			font-size: 1.5em;
			font-family: Josefin Sans, sans-serif;
			text-align: center;
			color: white;	
}




/*     ------------- Slidershow Options -------------    */
* {box-sizing:
			border-box;
}

/* Slideshow container */
.EscuelasSlideshowContainer, .ColegiosSlideshowContainer {
			max-width: 350px;
			position: absolute;
			margin: 25px;
			margin-left: 13%;
}

/* Hide the images by default */
.Escuelas, .Colegios {
			display: none;
}


/* Next & previous buttons */
.prev_Escuelas, .next_Escuelas, .prev_Colegios, .next_Colegios {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			margin-top: -22px;
			padding: 16px;
			color: white;
			font-weight: bold;
			font-size: 12px;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
			user-select: none;
			background-color: rgba(0,0,0,0.3);
}

/* Position the "next button" to the right */
.next_Escuelas, .next_Colegios {
			right: 0;
			border-radius: 3px 0 0 3px;
}

.prev_Escuelas, .prev_Colegios {
			left: 0px;
			border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev_Escuelas:hover, .next_Escuelas:hover, .prev_Colegios:hover, .next_Colegios:hover {
			background-color: rgba(0,0,0,0.8);
}
/* Fading animation */
.fadeEscuelas {
			-webkit-animation-name: fadeEscuelas;
			-webkit-animation-duration: 1s;
			animation-name: fadeEscuelas;
			animation-duration: 1s;
}

@-webkit-keyframes fadeEscuelas {
			from {opacity: .4} 
			to {opacity: 1}
}

@keyframes fadeEscuelas {
			from {opacity: .4} 
			to {opacity: 1}
}

/* Fading animation */
.fadeColegios {
			-webkit-animation-name: fadeColegios;
			-webkit-animation-fadeColegios: 1s;
			animation-name: fadeColegios;
			animation-duration: 1s;
}
@keyframes fadeColegios {
			from {opacity: .4} 
			to {opacity: 1}
}

#top10HighSchool{
			background-color: #990033; 
			width: 100%;
			height: 530px;
			padding: 25px;
}

/*     ------------- ranking tables -------------    */


.centroEduc, .grade{
			font-size: 14px;
			padding: 5px 30px;
			font-family: Helvetica, sans-serif;
			text-align: left;
			color: gray;
}

.grade{ text-align: center; }


#starMEP{
			font-size: 10px;
			color: gray;
}



th{
			font-size: 18px;
			padding: 10px 30px;
			background-color: #FFCC33;
			color: black;
}




/*     -------------FAQS-------------    */
.redFlagFaqs{
			height: auto;
			background-color:  #CC0033;
			color: white;
			font-size: 2em;
			text-align: center;
			padding: 10px 0px;
			position: relative;
}

#FacsContainer{
			height: 620px;
}

.fa-chevron-circle-down{
			font-size: 1.5em;
			color: #571845;
			float: right;
			margin-top: -1.3em;
}

.faqs{
			display: block;
			margin: 5% 12%;
}


.pFaqs{
			font-size: 1.2em;
			font-weight: bold;
			color: #571845;
			margin-bottom: -2px;
}

#faqsDivisionLine{
			background-color: #571845;
			height: 2px;
			border-radius: 50px;
}

/*     ------------- footer-------------    */

.footerEnd{	

			background-color: #330033;
			color: white;
			font-weight: lighter;

}

.landingPage{
	color: white;
	font-size: 16px;
}

/*     ------------- modal  -------------    */

.title-class{
    background-color: #fff;
    color: #fff;
}

.confirm-button-class{
    background-color: #FFCC33;
    padding: 0% 15% 0% 15%;
    font-family: Helvetica Light, sans-serif;
    font-size: 18px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
}


#BtnForgotPasw{
	background-color: #FFCC33;
    padding: 0% 15% 0% 15%;
    font-family: Helvetica Light, sans-serif;
    font-size: 18px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
}
