
body,p,h1,h2,h3,h4,h5,h6,ul,ol
{
			margin:0;
			padding:0;
			font-family: Helvetica, sans-serif;
}
.Inicolor{
    background-color: #CC0033;
}

form,legend{
    font-family: Helvetica, sans-serif;
    font-size: 15px !important;
    text-align: center;
}
a{
    text-align: right;
}

.registrobtn{
    background-color: #FFCC33;
    font-family: Helvetica Light, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    width:270px;
    height:30px;


}
.registrobtn:hover{
    background-color: yellow;
}

.YellowBtn{
    background-color: #FFCC33;
    font-family: Helvetica Light, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    width:270px;
    height:30px;

}
.YellowBtn:hover{
    background-color: yellow;
}


#main_nav{
    background-color: #330033;
    height: 50px;
    list-style-type: none;

}
li > #logo {
    float:left;
    font-family: Helvetica, sans-serif;
    font-size: 28px;
    font-style: bolder;
    color: white;
    padding: 10px 15px 15px 25px;
    text-decoration: none;
}

li > #salir {
    float:right;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    color: white;
    padding: 15px 15px 0px 5px;
    padding-right: 5%;
    text-decoration: none;
}

.fa-sign-out-alt {
    color: white;
    float:right;
    padding: 15px;
    padding-right:0px;
}

#ModalContent{
    background-color:  #571845;
    font-family: Helvetica, sans-serif;
    color:white;
}

#divisionLine{
    width: auto;
    height: 1px;
    font-weight: lighter;
    background-color: white;
    margin-top: 20px;
}
.registerInfo{
    font-size: 12px;
    font-weight: lighter;
    color: white;
    padding: 10px;

}