/* HEXADECIMAL COLOR PALLETE


Morado oscuro:   #330033   exclusivo para el header.
Morado oscuro 2: #571845   para ventanas modales y otros elementos de la página.
Magenta:         #990033   para todos los formularios.
Rojo:            #CC0033   para todos los textos h1
Naranja:         #FF6633   para todos los  textos h2
Amarillo:        #FFCC33   para botones principales, estrellas de ranking y otros elementos de la página.


*/

body,p,h1,h2,h3,h4,h5,h6,ul,ol
{
			margin:0;
			padding:0;
			font-family: Helvetica, sans-serif;
}

/*     -------------  header  -------------    */

#main_nav{
			background-color: #330033;
			height: 50px;
			list-style-type: none;

		}

li > #logo {
			float:left;
			font-family: Helvetica, sans-serif;
			font-size: 30px;
			font-style: bolder;
			color: white;
			padding: 10px 15px 15px 25px;
			text-decoration: none;
}

li > #salir {
			float:right;
			font-family: Helvetica, sans-serif;
			font-size: 15px;
			font-style: normal;
			color: white;
			padding: 15px 15px 0px 5px;
			padding-right: 5%;
			text-decoration: none;
}

.fa-sign-out-alt {
			color: white;
			float:right;
			padding: 15px;
			padding-right:0px;
}

/*     -------------  side menu  -------------    */


.mainSideMenu{
			background-color: #571845; 
			width: 25%;
			height:auto;
			position: absolute;
			min-height: 5130px;
			margin-top: -16px;
}

#container1{
			width: 100%;
			height: auto;
			margin-bottom: 40px;
}


.fa-user-circle{
			font-size: 18vw;
			padding: 1%;
			color: #FF6633;
			background-color: white;
			border-radius: 50%;
			margin:10%;
			width: 80%;
}

#username{
			color: white;
			text-align: center;
			font-size: 1.5em;
}


.redFlagsSide{
			background-color:  #CC0033;
			height: 100px;
			width: 100%;
			max-height: 2em;
}

.redFlagsSide > h3{
			color: white;
			font-family: Helvetica, sans-serif;
			font-size: 1.6vw;
			text-align: center;
			padding: 3px;
			font-weight: lighter;
}

/*     -------------  checkbox -------------    */

form{

}

form > h3{
			color: white;
			padding: 10% 5% 0 5%;
			font-size: 2.5vw;
}

label{
			font-size: 1.2vw;
			padding: 5px;
}

.form-check{
			color: white;
			margin-left: 10%;
			width: 100%

}

#yellowBtn{
			background-color: #FFCC33;
			font-family: Helvetica, sans-serif;
			font-weight: bolder;
			margin: 30px 5px;
			font-size: 0.8em;

}

#yellowBtn:hover{
			background-color: yellow;
}


/*     -------------  perfil principal -------------    */
.mainProfile{ 
			width: 75%;
			margin: 0 29%;	
			min-height: 5000px;
 }
/*     -------------  mapa  -------------    */

.mapouter{
			position:relative;
			text-align:center;
			height:500px;
			width:50%;
			margin: 5% 15%;
}

.lic{
			position:absolute;
			z-index:999;
			bottom:-14px;
			right:0;
			font-size:11px;
			font-family:arial;
			color:#666;
}

.gmap_canvas {
			overflow:hidden;
			background:none!important;
			height:500px;
			width:600px;
}

/*     -------------  main containers -------------    */

 .containerMain1, .containerMain2 {
 			height: auto;
			width: 90%;
			margin-top: 60px;
 }

.redFlagBig{
			height: auto;
			background-color:  #CC0033;
			color: white;
			font-size: 2em;
			text-align: center;
			padding: 10px 0px;
}


/*     -------------  centro educativo cards  -------------    */

/*sucess*/
.container2{   /*cards holder*/
  padding: 10px;
  max-width: 1100px;
}

.card{ /* espacio entre card y card*/
  margin: 30px;

}

.cardColor{
    background-color: #571845;
    padding: 0px 20px 20px 20px;
    max-height: 350px;
    min-width: 240px;
    max-width: 240px;
    min-height: 350px;
    margin: 20px;
    border-radius: 5px;
}

.schoolPic{
    width: 200px;
}


.card-text{
    color: white;
    font-family: Josefin Sans, sans-serif;
    padding: 10px;
    font-size: 16px;
    min-height: 100px;
    text-align: center;
    background-color: #571845;
}



/*tabla*/

#tblCentros{
    display: none;
    visibility: hidden;
}
/*     -------------  citas pendientes  -------------    */

.appointmentContainer{
			margin-top: 20px;
			width: 100%;
}

/*     ------------- footer-------------    */

.footerEnd{	
			padding: 10px;
			padding-left: 20px;
			background-color: #330033;
			color: white;
			font-weight: lighter;
			font-size: 12px;
			margin-top: 70px;

}


