/* HEXADECIMAL COLOR PALLETE


Morado oscuro:   #330033   exclusivo para el header.
Morado oscuro 2: #571845   para ventanas modales y otros elementos de la página.
Magenta:         #990033   para todos los formularios.
Rojo:            #CC0033   para todos los textos h1
Naranja:         #FF6633   para todos los  textos h2
Amarillo:        #FFCC33   para botones principales, estrellas de ranking y otros elementos de la página.


*/

body,p,h1,h2,h3,h4,h5,h6,ul,ol
{
			margin:0;
			padding:0;
			font-family: Helvetica, sans-serif;
}

/*     -------------  header  -------------    */

#main_nav{
			background-color: #330033;
			height: 50px;
			list-style-type: none;

		}

li > #logo {
			float:left;
			font-family: Helvetica, sans-serif;
			font-size: 30px;
			font-style: bolder;
			color: white;
			padding: 10px 15px 15px 25px;
			text-decoration: none;
}

li > #salir {
			float:right;
			font-family: Helvetica, sans-serif;
			font-size: 15px;
			font-style: normal;
			color: white;
			padding: 15px 15px 0px 5px;
			padding-right: 5%;
			text-decoration: none;
}

.fa-sign-out-alt {
			color: white;
			float:right;
			padding: 15px;
			padding-right:0px;
}



/*     -------------  main Profile  -------------    */


.mainProfile {
    width: 100%;
    margin: 0 5%;

}

.bigLabel{
            background-color: #CC0033;
            color: white;
            margin: 30px;
            padding: 10px; 
}


.modal-header, h2 {
    background-color: #CC0033;
    color : white;
    text-align: left;
    font-size: 20px;
    width: 85%;
}

.instructions{
    margin: 0 10%;

}

#redInstructions{
    color: red;
}



/*     -------------  formulario  -------------    */

.containerBig{
    background-color: #990033;
    border-radius: 10px; 
    padding: 35px;
    height: 1950px;
    color: white;
    width: 850px;
    margin: 0 12%;
}

#regData > input{
    width: 300px;
}


#leftSide {
    float: left;
}


#rightSide {
    position: absolute;
    margin-left: 400px;
}

.hideMe{
    display: none;
    visibility: hidden;
}

#center{  /* CONTAINER DE MAPA   */
    margin-left: 14%;
    margin-top: -43%;
    text-align: center;
    width: 350px;
    height: 350px;
    color: white;
}

.mapArea{
    margin-left: 20px;
    width: 300px;
    height: 300px;
    background-color: gray;
}

#regData {
    margin-left: 10%;
    margin-bottom: 15px;
    border-radius: 15px;  
}


#txtTipoCentroEducat, #sltIdentificación{
    width: 155%;
}



#image_preview, #image_preview2{
    max-width: 200px;
    max-height: 200px;
}


.imgBtn{
    background-color: transparent;
    margin: -120px 230px;
    position: absolute;
    color: white;
    font-size: 14px;
    width: 40%;
}


/*     -------------  Check box  -------------    */

#checkboxArea{
    position: absolute;
    margin-top: 20px;
    margin-left: 7%;
    color: white;
}

.listCheckbox{
    width: 180px;
}

.leftSideEnd{
    float: left;
    color: white;
    text-align: left;
}
.rightSideEnd{
    float: right;
    color: white;
    text-align: left;
}

.checkBoxID{
    margin-top: 12px;
}
/*     -------------  general details  -------------    */


#btn_registrar {
    background-color: #FFCC33;
    padding: 0% 15% 0% 15%;
    font-size: 1.6em;
    font-family: Helvetica Light, sans-serif;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 84%;
    margin-top: 480px;
}

#btn_registrar:hover {
    background-color:yellow;

}

.options{
        width: 65%;
}

#tblCentrosEducativos{
    width: 82%;
    margin: 80% 10%;
    display: none; 
    visibility: hidden;
} 
#filterBar{
    display: none; 
    visibility: hidden;
}

#refHistorica, #direccion{
    min-width: 700px;
}

.imagenTabla{
    max-height: 200px;
    max-width: 200px;
}

/*     ------------- footer-------------    */


.spacer{
    margin-top: 400px;
}
.footerBack{ 
     

}

/*     ------------- modal  -------------    */

.title-class{
    background-color: #fff;
    color: #fff;
}

.confirm-button-class{
    background-color: #FFCC33;
    padding: 0% 15% 0% 15%;
    font-family: Helvetica Light, sans-serif;
    font-size: 18px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
}

.recordatorio{
    margin-left: 50px;
}

