/* HEXADECIMAL COLOR PALLETE


Morado oscuro:   #330033   exclusivo para el header.
Morado oscuro 2: #571845   para ventanas modales y otros elementos de la página.
Magenta:         #990033   para todos los formularios.
Rojo:            #CC0033   para todos los textos h1
Naranja:         #FF6633   para todos los  textos h2
Amarillo:        #FFCC33   para botones principales, estrellas de ranking y otros elementos de la página.


*/

body,p,h1,h2,h3,h4,h5,h6,ul,ol
{
			margin:0;
			padding:0;
			font-family: Helvetica, sans-serif;
}

/*     -------------  header  -------------    */

#main_nav{
			background-color: #330033;
			height: 50px;
			list-style-type: none;

		}

li > #logo {
			float:left;
			font-family: Helvetica, sans-serif;
			font-size: 30px;
			font-style: bolder;
			color: white;
			padding: 10px 15px 15px 25px;
			text-decoration: none;
}

li > #salir {
			float:right;
			font-family: Helvetica, sans-serif;
			font-size: 15px;
			font-style: normal;
			color: white;
			padding: 15px 15px 0px 5px;
			padding-right: 5%;
			text-decoration: none;
}

.fa-sign-out-alt {
			color: white;
			float:right;
			padding: 15px;
			padding-right:0px;
}



/*     -------------  main Profile  -------------    */

.containerBig{
    background-color: #990033;
    border-radius: 10px; 
    padding: 35px;
    height: 2150px;
    margin-left: 100px;
    color: white;
    width: 950px;
}


#leftSide {
    float: left;
    width: 200px;
    padding: 5px;
    border-bottom: 5px;
    padding-right: 80px;
}

#rightSide {
    float: right;
    width: 200px;
    padding: 5px;
    border-bottom: 5px;
    padding-right: 250px;
}

#regData {
    margin-left: 15%;
    margin-bottom: 20px;
    border-radius: 15px;  
}


.addrBox {
    display: flex; 
    grid-gap: 2px;
    flex-flow: nowrap;
    width: 30%;
    }

.addrBox :first-child {
    position: relative;
    align-self: space-evenly;
}

#flexbox {
    position: relative;
    display: flex;
    flex-flow: nowrap;
    height: 70px;
    column-gap: 1px;
    width: 70px;
  }


  .exactAddrBox{
    border-radius: 3px;
    padding: 10px;
    width: 250px;
    margin: 10% 10% 0% 10%;
    height: auto;
    font-size: 1em;
    resize: none;
}


.mainProfile {
			width: 100%;
            margin-right: 10%;
            margin-left: 10%;
}


.modal-header, h2 {
    background-color: #CC0033;
    color : white;
    text-align: center;
    font-size: 30px;
    width: 100%;
}

/*     -------------  general details  -------------    */

    .closeBtn {
        background-color: #FFCC33;
        padding: 0% 15% 0% 15%;
        font-size: 1.6em;
        font-family: Helvetica Light, sans-serif;
        color: black;
        cursor: pointer;
        border-radius: 5px;
        margin: 0% 25% 5% 25%;
    }
 

.details{
			margin: 10px ;
}


.listCheckbox{
			width: 180px;
			min-height: 70px;
			padding: 8%;
}


.bigLabel{
			background-color: #CC0033;
			color: white;
			text-align: center;
			margin: 30px;
			padding: 10px; 
}

 

#levelsID {
    margin-left: 10%;
    margin-bottom: 20px;
    display: inline-block;
}